* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    background: url(img/chrismas/6536960.jpg);
    margin: 0;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
 
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
.menu a {
    text-decoration: none;
    color: inherit;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.header {
    background-color: rgb(134, 205, 253);
    color: #ffffff;
    border-bottom: 5px solid rgb(90, 176, 130);
    height: 5vh;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.header span{
    font-size: 24px;
    margin: 0 .2%;
    align-self: center;
}
.header img{
    height: auto;
}
.menu{
    border-right: 5px solid rgb(90, 176, 130);
    height: auto;
    background-color: rgb(134, 205, 253);
}
.menu ul, .right-block ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu ul{
    margin-top: 10%;
}
.menu li, .right-block li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: rgb(90, 176, 130);
    color: #e9e9e9;
}
.menu li{
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: all .5s ease;
}
.menu li:hover {
    background-color: rgb(51, 99, 74);
    cursor: pointer;
    border-radius: 10px;
}
.menu li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}
.center{
    margin-top: 1.5%;
}
.center > img {
    width: 80%;
    height: auto;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}
.center h2{
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.center p{
    text-align: center;
    font-size: 16px;
    color: white;
    width: 75%;
    margin: 1% auto 3% auto;
    background-color: rgb(134, 205, 253);
    border-radius: 15px;
}
.center p > img{
    border-radius: 50px;
    width: 70%;
    height: auto;
}
.imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */
    gap: 20px; 
    width: 75%;
    margin: auto;
}

.imgs img {
    border-radius: 50px;
    width: 100%;
    height: auto; 
}
/* .imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.imgs img{
    border-radius: 50px;
    width: 25%;
    height: auto;
} */

.footer {
    background-color: rgb(134, 205, 253);
    border-top: 5px solid rgb(90, 176, 130);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

@media only screen and (min-width: 600px) and (max-width: 767px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .menu li {
        font-size: 18px;
        padding: 12px;
    }
    .center h2 {
        font-size: 22px;
    }
    .center p {
        font-size: 16px;
    }
    .right-block h6 {
        font-size: 18px;
    }
    .right-block p {
        font-size: 14px;
    }
    .footer {
        font-size: 14px;
    }
    .imgs{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 1220px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .menu li {
        font-size: 16px;
    }
    .center h2 {
        font-size: 32px;
    }
    .center p {
        font-size: 24px;
    }
    .right-block h6 {
        font-size: 18px;
    }
    .right-block p {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1219px){
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
    .menu li {
        font-size: 17px;
    }
    .center h2 {
        font-size: 26px;
    }
    .center p {
        font-size: 17px;
    }
    .right-block h6 {
        font-size: 19px;
    }
    .right-block p {
        font-size: 15px;
    }
    .footer {
        font-size: 15px;
    }
}
@media only screen and (min-width: 150px) and (max-width: 599px){
    .imgs{
        grid-template-columns: 1fr;
    }
}